@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');



body {
  font-family: Inter;
  background: #161617;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}


.header {
  padding: 14px 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  transition: 0.2s linear;
}


.header .container {
  max-width: 1200px;
}



.header.fixed {
  -webkit-backdrop-filter: blur(35.5px);
  backdrop-filter: blur(35.5px);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width:991px) {
  .header__inner {
    justify-content: space-between
  }
}

.header__inner ul {
  display: flex;
  align-items: center;
  padding-left: 24px
}

@media (max-width:991px) {
  .header__inner ul {
    display: none
  }
}

.header__inner ul a {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 12px;
  display: inline-block
}

.header__inner ul a:hover {
  color: #B6F802;
}

.parent {
  position: relative;
}

.parent>.children {
  padding: 4px;
  position: absolute;
  left: 0px;
  top: 100%;
  border-radius: var(--S, 8px);
  border: 1px solid #272727;
  background: #202020;
  border-radius: 8px;
  min-width: 190px;
  opacity: 0;
  visibility: hidden;
}

.parent>.children a {
  padding: 8px 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border-radius: var(--S, 8px);
  color: #fff;
  width: 100%;
}

.parent>.children a:hover {
  color: #B6F802;
  background: #212D02;
}

.parent:hover .children {
  opacity: 1;
  visibility: visible;
}

.header .burger {
  height: 24px
}

.header .burger svg {
  width: 24px;
  height: 24px
}

@media (min-width:992px) {
  .header .burger {
    display: none
  }
}

.header__buttons {
  display: flex;
  align-items: center;
}

@media (max-width:991px) {
  .header__buttons {
    display: none
  }
}

.language-swicher .current-language {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}

.language-swicher .current-lang {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  gap: 4px;
  text-transform: uppercase;
}

.language-swicher .children {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.language-swicher .children {
  max-width: 110px;
  min-width: 110px;
}

.language-swicher .children a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-swicher .children img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.header__buttons a {
  padding: 8px 20px;
  color: #b6f802;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none
}

.header__buttons a.filled {
  border-radius: 32px;
  background: #b6f802;
  color: #202020
}


.button {
  color: var(--Cold-Gray-950, #161617);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Toxic-Green-400, #b6f802);
  text-decoration: none
}

.button:hover {
  background: var(--Toxic-Green-400, #c0fd17)
}

.button.button--outline {
  background: 0 0;
  border: 1px solid #b6f802;
  color: #b6f802
}

.button.button--outline:hover {
  border: 1px solid #b6f802;
  background: #b6f802;
  color: #000
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto
}

.challenge-buy {
  padding: 32px 0;
  display: grid;
  grid-template-columns: 1fr 490px;
  gap: 24px
}

.challenge-buy__options {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--Cold-Gray-800, #3d3d3d);
  width: 100%;
  overflow: hidden;
}

.challenge-buy__title {
  font-family: Unbounded;
  color: var(--Cold-grey-0, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 24px
}

.challenge-buy__options-group {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  border-radius: 12px;
  border: 2px solid var(--Cold-Gray-800, #3d3d3d);
  padding: 6px
}

.challenge-buy__options-group#capital-group {
  margin-bottom: 0;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.challenge-buy__options-group#capital-group label {
  font-size: 14px;
  padding: 12px 4px;
}

.challenge-buy__options-input input {
  display: none
}

.challenge-buy__options-input label {
  cursor: pointer;
  font-family: Unbounded;
  color: var(--Cold-Gray-0, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border-radius: 8px;
  padding: 12px;
  transition: .2s linear;
  display: flex;
  align-items: center;
  justify-content: center
}

.challenge-buy__options-input label:hover {
  background: var(--Toxic-Green-900, #b6f802);
  color: #000
}

.challenge-buy__options-input input:checked+label {
  background: var(--Toxic-Green-900, #b6f802);
  color: #000
}

.challenge-buy__add-options {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #b6f802
}

.challenge-buy__select-wrap {
  margin-bottom: 16px
}

.challenge-buy__select-wrap:last-child {
  margin-bottom: 0
}

.challenge-buy__payment {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--Cold-Gray-800, #3d3d3d);
  margin-top: 16px;
  grid-column: span 2
}

.challenge-buy__payment .total {
  color: var(--Cold-grey-0, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin: 24px 0;
  gap: 16px
}

.challenge-buy__payment .total .price {
  color: var(--Toxic-Green-400, #b6f802);
  font-family: Unbounded;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%
}

.challenge-buy__payment .checkout-button {
  width: 100%;
  font-size: 24px;
  padding: 20px
}

.challenge-buy__payment .input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px
}

.challenge-buy__payment .input-row .input-wrapper .input {
  display: flex;
  align-items: center;
  gap: 12px
}

.challenge-buy__table {
  grid-column: span 2;
  border: 1px solid var(--Cold-Gray-800, #3d3d3d);
  margin-top: 16px;
  border-radius: 16px;
  width: 100%;
}





.challenge-buy__table-row {
  display: grid;
  grid-template-columns: 1fr 172px 172px 172px;
  border-bottom: 1px solid var(--Cold-Gray-800, #3d3d3d);
}

.challenge-buy__table-row:last-child {
  border-bottom: none
}

.challenge-buy__table-row>div {
  padding: 24px 16px;
  min-width: 172px;
  background: #202020;
}

.challenge-buy__table-row>div:not(:first-child) {
  color: var(--Cold-Gray-0, #fff);
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%
}

.challenge-buy__table-row>div:first-child {
  color: var(--Cold-Gray-0, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px
}

.challenge-buy__table-header>div {
  font-family: Unbounded !important;
  background: var(--Cold-Gray-900, #3D3D3D);
  padding-top: 30px;
  padding-bottom: 30px
}

@media (max-width:991px) {
  .challenge-buy {
    grid-template-columns: 1fr
  }

  .challenge-buy .challenge-buy__payment,
  .challenge-buy .challenge-buy__table {
    grid-column: span 1
  }

  .challenge-buy .challenge-buy__options-group label,
  .challenge-buy .challenge-buy__payment .input-row label {
    font-size: 14px;
  }

  .challenge-buy .challenge-buy__title {
    font-size: 18px
  }
}

.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 6px
}

.tooltip svg {
  display: block
}

.tooltip-content {
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  transform: translate(-50%, -4px);
  opacity: 0;
  visibility: hidden;
  transition: opacity .15s ease, transform .15s ease, visibility 0s linear .15s;
  z-index: 10;
  min-width: 225px;
  color: var(--Cold-Gray-0, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 2px 8px;
  border-radius: var(--Tooltip-borderRadius, 6px);
  background: var(--Cold-Gray-800, #3d3d3d)
}

.tooltip-content::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  background: inherit
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
  transition: opacity .15s ease, transform .15s ease, visibility 0s
}

.label {
  color: #c7c7c7;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  display: block
}

select {
  overflow: hidden;
  color: var(--Cold-Gray-600, #6a6a6a);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: transparent;
  padding: 16px;
  border-radius: var(--L, 16px);
  border: 1px solid var(--Cold-Gray-700, #555);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 9L12 15L6 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center
}

input {
  overflow: hidden;
  color: var(--Cold-Gray-600, #6a6a6a);
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: transparent;
  padding: 16px;
  border-radius: var(--L, 16px);
  border: 1px solid var(--Cold-Gray-700, #555);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0
}

.challenge-buy__details {
  grid-column: span 2;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--Cold-Gray-800, #3d3d3d)
}

.challenge-buy__details .input-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px
}

.challenge-buy__details .input-wrapper {
  width: 100%
}

.checkbox input {
  display: none
}

.checkbox label {
  color: var(--Cold-Gray-0, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px
}

.checkbox label:hover::before {
  border-color: #b6f802
}

.checkbox input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.8393 7.25608C17.1647 6.93065 17.1647 6.40301 16.8393 6.07757C16.5138 5.75214 15.9862 5.75214 15.6607 6.07757L8.75 12.9883L5.17259 9.41091C4.84715 9.08547 4.31951 9.08547 3.99408 9.41091C3.66864 9.73634 3.66864 10.264 3.99408 10.5894L8.16074 14.7561C8.48618 15.0815 9.01382 15.0815 9.33926 14.7561L16.8393 7.25608Z' fill='%23161617'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b6f802
}

.checkbox label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: var(--Small, 4px);
  border: 1px solid var(--Cold-Gray-700, #555);
  display: block
}

.input-wrapper.invalid input {
  border-color: #ef454a
}

.input-wrapper.invalid .error {
  color: var(--Red-600, #ef454a);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}


h1 {
  color: var(--Cold-Gray-0, #FFF);
  text-align: center;
  font-family: Unbounded;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin: 60px 0px;
}

h1 span {
  color: #B6F802;
}

.challange-buy__select-wrap {
  margin-bottom: 16px;
}

button {
  cursor: pointer;
}

button[aria-disabled="true"] {
  opacity: 0.6;
  pointer-events: none;
}

.promo-input {
  display: flex;
  align-items: center;
  gap: 16px;
}

.promo-wrap {
  margin-bottom: 16px;
}

.promo-input button {
  outline: none;
  border: none;
  height: 54px;
}

.total {
  color: var(--Cold-grey-0, #FFF);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  display: flex;
  align-items: center;
  gap: 16px;

}

.challenge-buy__add-options .checkbox {
  padding: 8px 0px;
  margin-bottom: 16px;
}

.total .price {
  color: var(--Toxic-Green-400, #B6F802);
  font-family: Unbounded;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

@media(max-width: 1200px) {
  h1 {
    font-size: 36px;
    margin-bottom: 32px;
    margin-top: 48px;
  }

  .challenge-buy {
    grid-template-columns: 1fr;
  }

  .challenge-buy__details {
    grid-column: 1;
  }

  .challenge-buy__table-inner {
    overflow-x: auto;
  }
}



@media(max-width:767px) {
  h1 {
    font-size: 28px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .challenge-buy .challenge-buy__options-group label,
  .challenge-buy .challenge-buy__payment .input-row label {
    font-size: 10px;
  }

  .challenge-buy__options-group {
    gap: 4px;
    margin-bottom: 16px;
  }

  .challenge-buy .challenge-buy__title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .challenge-buy__table {
    display: none;
  }

  #capital-group {
    display: flex;
    flex-wrap: wrap;
  }

  #capital-group label {
    width: max-content;
    padding: 8px 16px !important;
    font-size: 14px;
  }

  .challenge-buy__details .input-row {
    flex-direction: column;
  }

}

/*# sourceMappingURL=main.min.css.map */